{% extends 'layout.html' %}
{% load bootstrap4 %}
{% block body %}
<div class="row">
    <div class="col-12 col-sm-10 col-md-10">
        <h1>管理維修類別</h1>
    </div>
    <div class="col-4 col-sm-2 col-md-2 pl-1 float-right">
        <button type="button" class="btn btn-block btn-primary" data-toggle="modal" data-target="#moto-form-modal">
            新增維修類別
        </button>
    </div>
    {% url 'repair:categories_new' as new_url%}
    {% include 'shared/_form_modal.html' with action=new_url form=create_form name='維修類別'%}
</div>
<br>
<div class="row">
    <div class="col-12">
        <table class="table table-striped">
                <thead>
                    <tr class="row">
                        <th class="col-2">項目管理</th>
                        <th class="col">名稱</th>
                        <th class="col-2">類別管理</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in page.object_list %}
                    <tr class="row">
                        <th class="col-2">
                            {% url 'repair:categories_detail' object.id as manage_url %}
                            {% bootstrap_button '管理項目' button_class="btn-primary" href=manage_url%}
                        </th>
                        <td class="col-8"><h4>{{object.name}}</h4></td>
                        <td class="col-2">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#form-modal-{{object.id}}">
                                修改
                            </button>
                            {% url 'repair:categories_edit' object.id as edit_url%}
                            {% include 'shared/_meta_form_modal.html' with action=edit_url form=create_form operator='修改' name='類別' id=object.id%}
                            {% url 'repair:categories_delete' object.id as delete_url%}
                            {% bootstrap_button '刪除' button_class="btn-danger" href=delete_url%}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
    </div>
    <div class="col-12">
        <div class="float-right">
            {% bootstrap_pagination page=page extra=request.GET.urlencode %}
        </div>    
    </div>
  </div>
{% endblock %}
