{% extends 'layout.html' %}
{% load bootstrap4 %}
{% load repair %}
{% block body %}
<div class="row">
    <div class="col-12 col-sm-6 col-md-6">
        <h1>{% block title %}{% endblock %}</h1>
    </div>
    <div class="col-4 col-sm-2 col-md-2 pr-1">
        <a href="{{ request.path }}" class="btn btn-block btn-warning">清除篩選</a>
    </div>
    <div class="col-4 col-sm-2 col-md-2 pl-1">
        <button type="button" class="btn btn-block btn-info" data-toggle="modal" data-target="#moto-filter-modal">
            進階搜尋
        </button>
    </div>
    <div class="col-4 col-sm-2 col-md-2 pl-1">
        <button type="button" class="btn btn-block btn-primary" data-toggle="modal" data-target="#moto-form-modal">
            建立維修單
        </button>
    </div>
    {% url 'repair:new' as new_url%}
    {% include 'shared/_form_modal.html' with action=new_url form=create_form name='維修單'%}
    {% if search %}
    {% include 'shared/_filter_modal.html' with form=search %}
    {% else %}
    {% include 'shared/_filter_modal.html' with form=filter.form %}
    {% endif %}
</div>
<br>
<div class="row">

    {% if filter.qs %}
      <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">車牌號碼</th>
			<th scope="col">KM</th>
                        <th scope="col">型號</th>
                        <th scope="col">車主號碼</th>
                        <th scope="col">車主姓名</th>
                        <th scope="col">日期</th>
                        <th scope="col"></th>
                        <th scope="col">總計</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in page.object_list %}
                    <tr>            
                        <th scope="row">
                            <form action="{% url 'repair:new' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" id="id" name="id" value="{{object.moto.id}}">
                                {% bootstrap_button "建立維修單" button_type="submit" button_class="btn-primary" %}
                            </form>
                        </th>
                        <td>{{object.moto.id}}</td>
			<td>{{object.km}}</td>
                        <td>{{object.moto.model | default:'-'}}</td>
                        <td>{{object.moto.owner.phone}}</td>
                        <td>{{object.moto.owner.name}}</td>
                        <td>{{object.time}}</td>
                        <td>
                            {% url 'repair:edit' object.id as edit_url%}
                            {% bootstrap_button '修改' button_class="btn-info" href=edit_url%}
                            {% url 'repair:delete' object.id as delete_url%}
                            {% bootstrap_button '刪除' button_class="btn-danger" href=delete_url%}
                        </td>
                        <td>{{object|sum_recorder}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
      </div>
    <div class="col-12">
        <div class="float-right">
            {% bootstrap_pagination page=page extra=request.GET.urlencode %}
        </div>    
    </div>
    {% if sum %}
        <div class="col-12">
            <div class="float-right">
                總計： {{sum}}
            </div>
        </div>
    {% endif %}
    {% else %}
      <div class="col-12">
        <p class="text-center h5">
          找不到，要不到新增？或是試試進階搜尋！
        </p>
      </div>
    {% endif %}
  </div>
{% endblock %}
