<div class="form-group row">
    <label for="name" class="col-form-label">項目</label>
    <div class="col-8">
        <input id="name" name="{{item.id}}-name" class="form-control here" type="text" value={{item.name}}>
    </div>
</div>
<div class="form-group row">
    <label for="price" class="col-form-label">價格</label>
    <div class="col-8">
        <input id="price" name="{{item.id}}-price" class="form-control here" type="number" value={{item.price}}>
    </div>
</div>
<div class="form-group row">
    <label for="count" class="col-form-label">數量</label>
    <div class="col-8">
        <input id="count" name="{{item.id}}-count" class="form-control here" type="number" value=0>
    </div>
</div>