{% load bootstrap4 %}
<div class="card">
    <hr>
    <ul class="nav nav-category mb-3" id="category-tab" role="tablist">
        {% for object in objects%}
        <li class="nav-item">
            <a class="nav-link" id="category-contact-tab" data-toggle="pill" href="#category-contact-{{object.pk}}" role="tab" aria-controls="category-contact-{{object.pk}}"
                aria-selected="false">{{object.name}}</a>
        </li>
        {% endfor %}
    </ul>
    <form action="{% url 'repair:add' pk=pk %}" method="POST">
        <div class="tab-content" id="category-tabContent">
            {% for object in objects%}
            <div class="tab-pane fade" id="category-contact-{{object.pk}}" role="tabpanel" aria-labelledby="category-contact-tab">
                <div id="accordion">
                    {% for item in object.item_set.all %} {% if not item.root %}
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <div class="row">
                                <h5 class="col">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-{{item.id}}" aria-expanded="true" aria-controls="collapse-{{item.id}}">
                                        <h3>{{item.name}}</h3>
                                    </button>
                                </h5>
                                <div class="col">
                                    <div class="float-right">
                                        {% include 'repair/_item_form.html' with item=item%}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="collapse-{{item.id}}" class="collapse" aria-labelledby="heading-{{item.id}}" data-parent="#accordion">
                            <div class="card-body">
                                {% for sub_item in item.item_set.all %}
                                <div class="row">
                                    <div class="col">
                                        <h5>{{sub_item.name}}</h5>
                                    </div>
                                    <div class="col">
                                        {% include 'repair/_item_form.html' with item=sub_item%}
                                    </div>
                                </div>
                                <hr> {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %} {% endfor %}
                </div>

            </div>
            {% endfor %}
        </div>
        {% csrf_token %}
        <hr>
        {% buttons %}
            <button type="submit" class="btn btn-primary float-right my-2 mx-2">
              新增
            </button>
        {% endbuttons %}
    </form>
</div>