{% extends 'layout.html' %}
{% load bootstrap4 %}
{% block body %}
<div class="row">
    <div class="col-12 col-sm-8 col-md-6">
        <div class="row">
            <div class="col">
                <h1>維修單</h1>
            </div>
            <div class="col float-right">
                <h3>{{object.moto.id}}</h3>
                <h3>{{object.time}}</h3>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-12 col-sm-6 col-md-8">
        {% include 'repair/_items.html' with objects=categories pk=object.pk %}
    </div>
    <div class="col-12 col-sm-6 col-md-4 card">
        <hr>
        <form id="save-form" method="post">
	  <div class="form-group row">
	    <label class="col-md-3 col-form-label" for="km">里程數</label>
	    <div class="col-md-9">
	      <input type="number" name="km" value="{{object.km}}" maxlength="30" class="form-control" placeholder="里程數">
	    </div>
	  </div>
          <hr>
          {% bootstrap_formset formset layout='horizontal' %}
          {% csrf_token %}
        <hr>
        <div class="col">
            <p class="float-left">總計:</p>
            <p id="saved_sum" class="float-right">{{sum}}</p>
        </div>
        <div class="col float-right mx-0 px-0 my-2">
        {% buttons %}
            <button type="submit" class="btn btn-info float-right">
              儲存
            </button>
        {% endbuttons %}
        </div>
        </form>
    </div>
</div>
<script>
</script>
{% endblock %}

{% block script %}
$('#category-tab a[href="#category-contact-{{select}}"]').tab('show')



$(function(){
    $('form :input').change(function(e){
        var i;
        var summary = 0;
        for (i = 0; i < {{formset|length}}; i++) {
            // console.log(i);
            price = $("input[name*='-"+i+"-price'").val();
            count = $("input[name*='-"+i+"-count'").val();
            will_not_delete = !$("input[name*='"+i+"-DELETE'").prop("checked");
            add = price*count*will_not_delete;
            // console.log("price", price);
            // console.log("count", count);
            // console.log("will_not_delete", will_not_delete);
            // console.log("add", add);
            summary += add;
        }
        $("#saved_sum").text(summary);
    });
 });
{% endblock %}
