{% extends 'layout.html' %}
{% load bootstrap4 %}
{% block body %}
<div class="row">
    <div class="col-12 col-sm-6 col-md-6">
        <h1>機車清單</h1>
    </div>
    <div class="col-4 col-sm-2 col-md-2 pr-1">
        <a href="{% url 'index' %}" class="btn btn-block btn-warning">清除篩選</a>
    </div>
    <div class="col-4 col-sm-2 col-md-2 pl-1">
        <button type="button" class="btn btn-block btn-info" data-toggle="modal" data-target="#moto-filter-modal">
            進階搜尋
        </button>
    </div>
    <div class="col-4 col-sm-2 col-md-2 pl-1">
        <button type="button" class="btn btn-block btn-primary" data-toggle="modal" data-target="#moto-form-modal">
            新增機車
        </button>
    </div>
    {% include 'shared/_filter_modal.html' with form=filter.form %}
    {% url 'new' as new_moto_url %}
    {% include 'shared/_form_modal.html' with action=new_moto_url form=create_form name='機車'%}
</div>
<br>
<div class="row">

    {% if filter.qs %}
      <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">車牌號碼</th>
                        <th scope="col">型號</th>
                        <th scope="col">車主號碼</th>
                        <th scope="col">車主姓名</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in page.object_list %}
                    <tr>
                        {% url 'new' moto_id=object.id as item_url %}                        
                        <th scope="row">{% bootstrap_button "建立維修單" href=item_url button_class="btn-primary" %}</th>
                        <td>{{object.id}}</td>
                        <td>{{object.model | default:'-'}}</td>
                        <td>{{object.owner.phone}}</td>
                        <td>{{object.owner.name}}</td>
                        <td>
                            {% url 'edit' object.id as edit_url%}
                            {% bootstrap_button '修改' href=edit_url button_class="btn-info" %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
      </div>
    <div class="col-12">
        <div class="float-right">
            {% bootstrap_pagination page=page extra=request.GET.urlencode %}
        </div>    
    </div> 
    {% else %}
      <div class="col-12">
        <p class="text-center h5">
          找不到，要不到新增？或是試試進階搜尋！
        </p>
      </div>
    {% endif %}
  </div>
{% endblock %}