<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Moto</title>

  {% load bootstrap4 %}
  {% load static %}
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

</head>

<body>
  {% include "shared/_navbar.html" %}

  <div class="container my-4">
    {% bootstrap_messages %}
    {% block body %}{% endblock %}
  </div>

  <script src="{% static 'js/jquery.min.js'%}"></script>
  <script src="{% static 'js/popper.min.js'%}"></script>
  <script src="{% static 'js/bootstrap.min.js'%}"></script>
</body>
<script>
  {% block script %}
  {% endblock %}
</script>
</html>
