<div class="modal fade" id="moto-filter-modal" tabindex="-1" role="dialog" aria-labelledby="moto-filter-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">進階搜尋</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% include 'shared/_form.html' with method='GET' form=form %}
      </div>
    </div>
  </div>
</div>
