<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'root' %}">Moto</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarContent" aria-controls="navbarContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto">
        <ul class="navbar-nav ml-lg-3">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'repair:index' %}">維修單</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'repair:report' %}">報表</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-lg-3">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">機車</a>
            </li>
        </ul>
    </ul>
    <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'index' %}">
      <input class="form-control mr-sm-2" type="search" placeholder="車牌快速搜尋" aria-label="Search" name="id">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">搜尋</button>
    </form>
    <ul class="navbar-nav ml-lg-3">
        {% if request.user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'repair:categories_index' %}">維修項目管理</a>
          </li>
        {% endif %}
    </ul>
    <ul class="navbar-nav ml-lg-3">
        {% if request.user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">後台管理</a>
          </li>
        {% endif %}
    </ul>
    <ul class="navbar-nav ml-lg-3">
        <li class="nav-item">
          {% if request.user.is_authenticated %}
            <a class="nav-link" href="{% url 'admin:logout' %}?next=/">登出 ({{ request.user.username }})</a>
          {% else %}
            <a class="nav-link" href="{% url 'admin:login'%}?next=/">登入</a>
          {% endif %}
        </li>
    </ul>
  </div>
</nav>
