<table class="table table-striped">
{% for object in objects%}
  {% if forloop.first %}
    <thead>
      <tr>
      {% for field, value in object.fields.items %}
        <th scope="col">{{field}}</th>
      {% endfor %}
      </tr>
    <tbody>
  {% endif %}
      <tr>
        {% for field, value in object.fields.items %}
          {% if forloop.first %}
            <th scope="row">{{value|default:""}}</th>
          {% else %}
            <td>
                {{value}}
            </td>
          {% endif %}
        {% endfor %}
      </tr>
{% endfor %}
</tbody>
</table>