{% extends 'layout.html' %}

{% block body %}
  <div class="row">
    <div class="col-6 offset-3">
      <h1>{{ title }}</h1>
      <hr>
      {% include 'shared/_table.html' with objects=objects %}
      <hr>
      <div class="float-right">
      {% include 'shared/_form.html' with form=form %}
      </div>
      <button class="btn btn-secondary float-left mr-2" onclick="window.history.back();">上一頁</button>
    </div>
  </div>
{% endblock %}
