{% extends 'layout.html' %}
{% load bootstrap4 %}
{% block body %}
<div class="row">
    <div class="col-12 col-sm-8 col-md-10">
        <h1>管理 {{item.name}} 項目</h1>
    </div>
    <div class="col-4 col-sm-4 col-md-2 pl-1 float-right">
        <button type="button" class="btn btn-block btn-primary" data-toggle="modal" data-target="#moto-form-modal">
            新增項目
        </button>
    </div>
    {% url 'repair:items_new' as new_url%}
    {% include 'shared/_form_modal.html' with action=new_url form=create_form name='維修單'%}
</div>
<br>
<div class="row">
    <div class="col-12">
        <table class="table table-striped">
                <thead>
                    <tr class="row">
                        <th class="col">名稱</th>
                        <th class="col">價格</th>
                        <th class="col-2">類別管理</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in page.object_list %}
                    <tr class="row">
                        <td class="col"><h4>{{object.name}}</h4></td>
                        <td class="col"><h4>{{object.price}}</h4></td>
                        <td class="col-2">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#form-modal-{{object.id}}">
                                修改
                            </button>
                            {% url 'repair:items_edit' object.id as edit_url%}
                            {% include 'shared/_meta_form_modal.html' with action=edit_url form=update_form operator='修改' name='類別' id=object.id%}
                            {% url 'repair:items_delete' object.id as delete_url%}
                            {% bootstrap_button '刪除' button_class="btn-danger" href=delete_url%}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
    </div>
    <div class="col-12">
        <div class="float-left">
            {% url 'repair:categories_detail' item.category.id as back_url %}
            {% bootstrap_button '回上一頁' button_class="btn-warning" href=back_url%}
        </div>
        <div class="float-right">
            {% bootstrap_pagination page=page extra=request.GET.urlencode %}
        </div>    
    </div>
  </div>
{% endblock %}
